<div style="display: flex; height:100%;">
    <div>
        <div>Family</div>
        <app-lightswitch></app-lightswitch>
    </div>
    <div>
        <div>Kitchen</div>
        <app-lightswitch></app-lightswitch>
    </div>
    <div>
        <div>Rumpus</div>
        <app-lightswitch></app-lightswitch>
    </div>
    <div>
        <div>4 Season</div>
        <app-lightswitch></app-lightswitch>
    </div>
    <div>
        <div>Passage</div>
        <app-lightswitch></app-lightswitch>
    </div>
    <div>
        <div>Bathroom</div>
        <app-lightswitch></app-lightswitch>
    </div>
    <div>
        <div>Laundry</div>
        <app-lightswitch></app-lightswitch>
    </div>
</div>